.not-found {
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.not-found h1 {
  margin: 0 0 35px;
  font-size: clamp(3rem, 8vw, 7rem);
  line-height: .85;
}

.not-found h1 span {
  color: var(--color-primary);
}
